<div class="form-content">
    <div class="form-content-top">
    </div>
    <div class="form-content-bottom" style="">
      <h1 class="result-msg-title">Oops, this page has expired.</h1>
      <div class="result-msg-subtitle"><h5>The information of this page is no longer valid, you may click the button below to go back to the home page. </h5>
      </div>
    </div>
    <hr>
    <div class="row  btn-bar">
     <button id="backBtn" class="cust-btn cust-btn-green floatCenter" (click)="onBackSubmit()"><i class="fa fa-undo"></i>  Back</button>
    </div>       
</div>   