<div class="form-content">
    <div class="form-content-top">
    </div>
    <div class="form-content-bottom" style="">
      <h1 class="result-msg-title">Oops, Your payment session has expired.</h1>
      <div class="result-msg-subtitle"><h5>Please refresh the session by clicking the button below. </h5>
      </div>
    </div>
    <hr>
    <div class="row  btn-bar">
     <button id="backBtn" class="cust-btn cust-btn-green floatCenter" (click)="onRefreshSession()"><i class="fa fa-undo"></i>  Refresh</button>
    </div>       
</div>   